.theme-dark{
    --color-background: var(--color-dark);
    --color-text: var(--color-light);
    --color-surface: var(--color-dark-surface);
}

.theme-light{
    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-surface: var(--color-light-surface);
}

header{
    display: flex;
    align-items: center;
    height: 50px;
}