.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  right: 0;
  height: 100%;
  padding: 24px;
  gap: 12px;
  background-color: var(--color-surface);
  transition-duration: 0.2s;
  transform: translateX(100%);
  transition-property: transform;
}
.menu__item.active {
  color: var(--color-primary);
}
.menu.show {
  transform: translateX(0);
}
@media (min-width: 768px) {
  .menu {
    position: static;
    flex-direction: row;
    padding: 0;
    height: auto;
    background-color: transparent;
    transform: translateX(0);
    transition-duration: 0s;
  }
}