footer(class='footer')
	div(class='footer__section')
		p Siguenos en:
		div(class='social')
			a(class='social__item' target='blank' href='https://www.instagram.com/fundacion_tlali/')
				i(class='bx bxl-instagram')

			a(class='social__item' target='blank' href='https://www.facebook.com/fundacion_tlali/')
				i(class='bx bxl-facebook')

			a(class='social__item' target='blank' href='https://www.tiktok.com/fundacion_tlali/')
				i(class='bx bxl-tiktok')

			a(class='social__item' target='blank' href='https://www.twitter.com/fundacion_tlali/')
				i(class='bx bxl-twitter')
			
	p desarrollado por el departamento de marketing de
		strong  tlali&copy; 2023
	