header(class='header')
    include ../../icons/logo/logotipo.svg
    i(class='bx bx-menu' id='toggle-menu')
    
    nav(class='header__nav')
        i(class='bx bx-x' id='close-menu')
        a(href="#home") Inicio
        a(href="#about") Nosotros 
        a(href="#departaments") Departamentos