$buttons:(
    (
        class: default,
        color: var(--color-surface)
    ),
    (
        class: '-primary',
        color: var(--color-primary)
    ),
    (
        class: '-secondary',
        color: var(--color-secondary)
    ),
    
);

@each $button in $buttons{
    $class: map-get($button, class);
    $color: map-get($button, color);
    @if($class==default){$class:''};

    .button#{$class}{
        display: flex;
        gap: 12px;
        border-radius: 8px;
        padding: 12px;
        color: inherit;
        background-color: #{$color};
    }
}